<%= form_with(model: admin_cottage) do |form| %>
  <% if admin_cottage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_cottage.errors.count, "error") %> prohibited this admin_cottage from being saved:</h2>

      <ul>
        <% admin_cottage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :name, placeholder: "Nom du gîte" %>
    <%= form.submit %>
  </div>
<% end %>
