<p id="notice"><%= notice %></p>

<p><%= @admin_cottage.name %></p>

<ul>
  <% @admin_cottage.bedrooms.each do |bedroom| %>
    <li><p>__<%= bedroom.name %></p></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_admin_cottage_path(@admin_cottage) %> |
<%= link_to 'Back', admin_cottages_path %>
