<p id="notice"><%= notice %></p>

<p><%= @admin_cottage.name %></p>

<% @admin_cottage.bedrooms.each do |bedroom| %>
  <p>__<%= bedroom.name %></p>
<% end %>

<%= link_to 'Edit', edit_admin_cottage_path(@admin_cottage) %> |
<%= link_to 'Back', admin_cottages_path %>
